header .titulo {
  color: gold;
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  margin: 25px;
  text-decoration: none;
}

body {
  background-image: url("../imagenesscss/home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-image: url("../imagenesscss/sobremi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-image: url("../imagenesscss/Servicios.Portfolio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-image: url("../imagenesscss/Servicios.Portfolio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-image: url("../imagenesscss/Contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer .fabmov:hover {
  transform: scale(1.8);
  transition: all 1.5s;
  color: rgb(176, 41, 194);
}

header .nav-mia {
  font-size: 28px;
  color: black;
  margin-top: 50px;
  font-family: "Lucida Sans";
}
header .nav-link:hover {
  color: gold;
  border-bottom: 3px solid goldenrod;
  padding-bottom: 3px;
}
header .mov-titulo:hover {
  transform: scale(1.2);
  transition: all 2s;
  color: rgb(176, 41, 194);
}

main .logomov:hover {
  transform: scale(1.2);
  transition: all 2s;
  margin-bottom: 25px;
}
main .tracking-out-expand:hover {
  animation: tracking-out-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    letter-spacing: 0.8em;
    opacity: 0;
  }
}

main .textoabout {
  font-size: 22px;
  color: black;
  font-family: "Lucida Sans";
  margin: 20px;
}

main {
  margin: 20px;
}
main .containerfluido {
  display: flex;
  flex-wrap: wrap;
}
main .contenedor {
  font-size: 22px;
  font-family: "Lucida sans";
  border: 2px purple solid;
  margin: 20px;
}
main .carousel-control-prev-icon, main .carousel-control-next-icon {
  filter: invert(100%);
}

main .flip-in-ver-left:hover {
  animation: flip-in-ver-left 1s both;
}
@keyframes flip-in-ver-left {
  0% {
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

main a {
  text-decoration: none;
  color: black;
}
main a:hover {
  color: rgb(176, 41, 194);
}
main .rotate-scale-down-hor:hover {
  animation: rotate-scale-down-hor 0.6s linear 1s both;
}
@keyframes rotate-scale-down-hor {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    transform: scale(1) rotateX(-360deg);
  }
}
main .trescontenedores {
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: "Lucida sans";
  margin-top: 30px;
}
main .contenedor1 {
  border-top: 2px purple solid;
  border-left: 2px purple solid;
  border-right: 2px purple solid;
  font-size: 20px;
  font-family: "lucida sans";
}
main .contenedor2 {
  border-bottom: 2px purple solid;
  border-left: 2px purple solid;
  border-right: 2px purple solid;
  font-size: 20px;
  font-family: "lucida sans";
}
main #contenedordetexto {
  display: block;
  margin-top: 15px;
  border: 3px violet solid;
  font-family: "lucida sans";
}
main .form-mio {
  display: block;
  border: violet solid 3px;
  width: 65%;
  font-family: "Lucida Sans";
}
main .boton-enviar {
  display: block;
  border: violet solid 2px;
  margin: 20px;
  font-family: "Lucida Sans";
  width: 13%;
}
main .boton-enviar:hover {
  color: goldenrod;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
