
//body index
body{
   background-image: url("../imagenesscss/home.png");
   background-size: cover;
   background-repeat: no-repeat;
   }

//body sobre mi

body{
    background-image: url("../imagenesscss/sobremi.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    }

//body portfolio
body{
    background-image: url("../imagenesscss/Servicios.Portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

//body servicios
body{
    background-image: url("../imagenesscss/Servicios.Portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

//body contacto
body{
    background-image: url("../imagenesscss/Contacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }