//main Index
main{
    .logomov:hover{
        transform: scale(1.2);
        transition: all 2s;
        margin-bottom: 25px;
    
    }
    .tracking-out-expand:hover {
        animation: tracking-out-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s ;
    
    
    @keyframes tracking-out-expand {
        0% {
          opacity: 1;
        }
        60% {
          opacity: 0.5;
        }
        100% {
          letter-spacing: 0.8em;
          opacity: 0;
        }
       }
      }
      
      }
      

//main Sobre mi
main{
    .textoabout{
        font-size: 22px;
        color: $c-texto;
        font-family: $ff-texto;
        margin: $margen;
    }
}

//main Servicios
main{
    margin: $margen;

    .containerfluido{
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor{
        font-size: map-get($mixcontenedor, f-s );
        font-family: map-get($mixcontenedor, f-f );
        border: map-get($contenedores, bordetop );
        margin: map-get($contenedores, f-s );
     }
     .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: invert(100%);
     }
}

//main portfolio
main{
    .flip-in-ver-left:hover {
        animation: flip-in-ver-left 1s both;
    
        @keyframes flip-in-ver-left {
            0% {
              transform: rotateY(80deg);
              opacity: 0;
            }
            100% {
              transform: rotateY(0);
              opacity: 1;
            }
          }
    }
}
   
//main Contacto
main{
     a{
        text-decoration: none;
        color: black;
        &:hover{
            color: rgb(176, 41, 194);
        }
     }

     .rotate-scale-down-hor:hover {
        animation: rotate-scale-down-hor 0.6s linear 1s both;
       
        @keyframes rotate-scale-down-hor {
            0% {
              transform: scale(1) rotateX(0);
            }
            50% {
              transform: scale(0.5) rotateX(-180deg);
            }
            100% {
              transform: scale(1) rotateX(-360deg);
            }
          } 
    }

    .trescontenedores{
        font-size: map-get($mixcontenedor, f-s );
        color: map-get($mixcontenedor, colores );
        font-weight: map-get($mixcontenedor, f-weight );
        font-family: map-get($mixcontenedor, f-f );
        margin-top: map-get($mixcontenedor, margentop );
        border-color: map-get($contenedores, colorborde );
     }

     .contenedor1{
        border-top: map-get($contenedores, bordetop );
        border-left: map-get($contenedores, bordeleft );
        border-right: map-get($contenedores, borderight );
        font-size: map-get($contenedores, f-s );
        font-family: map-get($contenedores, f-f );
    }

    .contenedor2{
        border-bottom: map-get($contenedores, bordebottom );
        border-left: map-get($contenedores, bordeleft );
        border-right: map-get($contenedores, borderight );
        font-size: map-get($contenedores, f-s );
        font-family: map-get($contenedores, f-f );
        
     }

     #contenedordetexto{
        display: map-get($contenedortexto, d-block );
        margin-top: map-get($contenedortexto, margentop );
        border: map-get($contenedortexto, borde );
        border: map-get($contenedortexto, sc-borde );
        font-family: map-get($contenedortexto, f-f );
     }

     .form-mio{
        display: block;
        border: violet solid 3px;
        width: 65%;
        font-family: $ff-texto;
        }

        .boton-enviar{
            display: block;
            border: violet solid 2px;
            margin: $margen;
            font-family: $ff-texto;
            width: 13%;
            &:hover{
            color: goldenrod;
            background-color: $c-texto;
         }
        }
    }