
%titulos{
    color: gold;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 25px;
    text-decoration: none
}


%imagenfondo{
    background-size: cover;
    background-repeat: no-repeat;
}
