$contenedores:(
    bordeleft: 2px purple solid,
    borderight: 2px purple solid,
    bordebottom: 2px purple solid,
    bordetop: 2px purple solid,
    f-f: 'lucida sans',
    f-s: 20px,
);

$mixcontenedor:(
    f-s: 22px,
    colores: black,
    f-weight: bold,
    f-f: 'Lucida sans',
    margentop: 30px,
);

$contenedortexto:(
    d-block: block,
    margentop: 15px,
    sc-borde: 3px violet solid,
    f-f: 'lucida sans',
);

