copia de css original

/* FUENTES */
/*font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}

/*Pagina Principal*/


/*#imagen_home{
    background-image: url(../imagenes/home.png);
    background-size: cover;
    background-repeat: no-repeat;
} 

 .nav-mia{
    margin-top: 50px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; 
}


.nav-link:hover{
    color: gold;
    border-bottom: 3px solid goldenrod;
    padding-bottom: 3px; 
}


.logomov:hover {
    transform: scale(1.2);
    transition: all 2s;
    margin-bottom: 25px;
}

 .mov-titulo:hover{
    transform: scale(1.2);
    transition: all 2s;
    color: rgb(176, 41, 194) ;
 }*/


/*Sobre mi*/

.margenes{
    margin: 35px;
}

#imagen_sobremi{
    background-image: url(../imagenes/SOBRE\ MI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




/*.textoabout{
    font-size: 23px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}

*/



/*Servicios*/

#imagen_servicios{
    background-image: url(../imagenes/Servicios.Portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*.titulo{
    color: gold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 25px;
   }

.subtitulos{
    color:blueviolet;
    font-family: 'Lora';
    font-size: 30px;
}

.containerfluido{
    display: flex;
    flex-wrap: wrap;
}*/


/*.contenedor{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid purple;
    margin: 20px;
}*/

/*footer {
    margin-top: 20px;
    background-color: rgb(207, 126, 218);
    color: rgb(163, 131, 41) ;
    text-align: center;
}

footer span {
    font-size: 30px;
}

.politicas{
    text-decoration: none;
    font-size: 20px;
}

.contactfooter{
    font-size: 33px;
    color: rgb(163, 131, 41);
    text-decoration: none;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
  }*/

/*portfolio*/

#imagen_portfolio{
    background-image: url(../imagenes/Servicios.Portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/*Contacto*/

#imagen_contacto{
    background-image: url(../imagenes/Contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*.trescontenedores{
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

.contenedor1{
    border-top: 2px solid purple;
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor2{
    border-bottom: 2px solid purple;
    border-right: 2px solid purple;
    border-left: 2px solid purple;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenedordetexto{
    display: block;
    margin-top: 15px;
    border: violet solid 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-mio{
    display: block;
    border: violet solid 3px;
    width: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-enviar{
    display: block;
    border: violet solid 2px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 13%;
}

.boton-enviar:hover{
    color: goldenrod;
    background-color: black;
}*/